body{
  
}
nav{
    
    padding: 1rem;
    text-align: center;
}
.logo{
    align-items: center;
    height: 5rem;
    width: 5rem;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: beige;
    display: block;
    margin: auto;
    max-width: 50vw;
    height: 70vh;
    border: 3px solid black;
    border-radius: 6px;
    margin-top: 1rem;
    overflow-y: auto;
}
.message{
padding: 1rem;
margin: 1rem;
border-radius: 1rem;
}
.left{
background-color: azure;
float: left;
clear: both;

}
.right{
    background-color: #93e4e4;
    float:right;
    clear: both;
}
.center{
    background-color:  rgb(249 225 88);
    clear: both;
    max-width: fit-content;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
}
.send{
    display: flex;
    justify-content: center;
    margin: 1rem;
    
}
#messageInput{
    height: 2rem;
    border-radius: 6px;
    width: 40vw;
   border: 3px solid black;
}
.submit-btn{
height: 2rem;
width: 10vw;
border-radius: 6px;
border: 3px solid black;
cursor: pointer;
background-color:  rgb(249 225 88);
}